.Container {
  justify-content: center;
  align-items: center;
}

.Container-dark {
  background-color: rgb(22, 124, 240);
  color: white;
}

.Container-light {
  background-color: rgb(255, 255, 255);
}

.switchIcon {
  font-size: 25px;
  color: rgb(0, 15, 32);
  cursor: pointer;
}
.switchIcon-light {
  color: white;
}

/** Header  */

.header {
  background-color: rgb(255, 243, 228);
  padding: 35px 10px;
  margin: 20 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-dark {
  background-color: black;
}

.logoAda {
  width: 100px;
}

.header-text {
  color: rgb(22, 124, 240);
  letter-spacing: 5px;
  font-size: 35px;
  margin: 0;
  padding: 10px;
}

.link-bar {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  font-weight: 600;
  color: rgb(22, 124, 240);
  background-color: antiquewhite;
  border: 2px solid rgb(22, 124, 240);
  font-size: 15px;
  letter-spacing: 5px;

  cursor: pointer;
  list-style-type: none;
  margin: 5px 10px;
  padding: 5px 15px;
  border-radius: 6px;
  text-align: center;
}

.link-dark {
  color: antiquewhite;
  background-color: rgb(22, 124, 240);
}

.link:hover {
  color: antiquewhite;
  background-color: rgb(22, 124, 240);
  border: 2px solid antiquewhite;
}
